.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 43px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  transform-origin: center top 0px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 239px;
  margin-top: 43px;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 239px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-3 {
  width: 912px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    width: 900px;
  }

  .u-section-1 .u-line-3 {
    width: 900px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 680px;
  }

  .u-section-1 .u-line-3 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 320px;
  }

  .u-section-1 .u-line-3 {
    width: 320px;
  }
}